<!doctype html>
<html>
<head>
    <title>Beaf</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <meta name="create-time" content="<%= htmlWebpackPlugin.options.createTime  %>" />
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- 第三方 css/js 依赖引用 -->
    <link href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css" rel="stylesheet">
    <link href="//at.alicdn.com/t/font_585271_c7qt9m8ehyyzaor.css" rel="stylesheet"/>
</head>
<body>
    <!-- entry 节点 -->
    <div id="root"></div>
    <!-- 开发文件注入在此处, 请在此处之前添加其他依赖 -->
</body>
</html>